@charset "UTF-8";
/* CSS Document */

.container {
position: absolute;
width:970px;
height:66px;
background: url('../images/starbg.jpg');	
overflow:hidden;
cursor: pointer;
display: block;
	
}
#close {
	position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 500;
}
#extra {
	position: absolute;
	left:444px;
	top:27px;
}

#click_to_expand {
	position: absolute;
	right:17px;
  top: 48px;
  z-index: 600;
}

#learnMore{
	position: absolute;
	right: 0px;
	top: 3px;
	z-index: 100;
}
#learnMore a{
	display: block;
}
img#enterFor{
	position: absolute;
	top: 5px;
  left: 200px;
}

#prize{
	color: white;
    width: 531px;
    position: absolute;
    right: 85px;
    top: 35px;
    font-size: 22px;
}
div#tweet{
	position: absolute;
	right: 250px;
}

div#wave{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 200000;
}
div#blood{
	position: absolute;
	top: 7px;
	left: 7px;
	z-index:20000;
}
div#wave img{
	display: block;
}
div#logo{
	position: absolute;
	bottom: -3px;
	right: 6px;
}
div#heros{
	top: 0;
}
div#heros img{
	opacity: 0;
}
img#hashtag{
	top: 5px;
	right: 250px;
}

div#finalFrame{
	text-align: center;
	background-color: #17669e;
	width: 970px;
	height: 66px;
	z-index: 100;
}
img#greatness{
	top: 7px;
	right: 245px;
}
img#ps4logo{
	bottom: 6px;
    left: 9px;
}
img#bundlesweeps{
	right: 5px;
	top: 8px;
}
#lrnBtn{
	top: 23px;
	right: 0px;
	display: none;
	position: absolute;
	cursor: pointer;
}
#enterFor, #prize, #tweet, #herosbg, #hashtag, #lrnBtn, #greatness, #ps4logo, #finalFrame, #bundlesweeps{
	opacity: 0;
}
#tweet,div#heroFrame, img#hashtag,div#finalFrame, #lrnBtn, #greatness, #ps4logo, #bundlesweeps{
	display: none;
	position: absolute;
}
#containerExWrap{
	position: absolute;
	width:970px;
	height:250px;
	overflow:hidden;
	cursor: pointer;
	left:0px;
	z-index: 3000000;
	display: none;
	
}
#containerEx {
	position: absolute;
	width:970px;
	height:250px;
	background: url('../images/starbgEx.jpg');	
	overflow:hidden;
	font-family: 'Open Sans';
	cursor: pointer;
}
#vidHolderEx{
	width: 445px;
	height: 250px;
	left:525px;
	position: absolute;
}
#learnMoreEx{
	position: absolute;
	right: 10px;
	bottom: 10px;
	height: 20px;
	width: 110px;
	z-index: 100;
}
#learnMoreEx a{
	font-family: NeuzeitGro;
	color:  #ffffff;
	font-size: 13px;
	font-family: 'Open Sans';
	line-height: 15.6px;
	text-align: right;
	text-shadow: 0px 1px 4px rgba(19, 36, 91, 0.59);
	text-decoration: none;
	display: block;
}
#enterEx, #tweetEx{
	height: 84px;
	width: 647px;
	position: absolute;
	top:67px;
	left:170px;
	color: #fff;
	text-align: center;

}


#tweetEx{
	top:57px;
	left:160px !important;
}


#tweetEx, div#herosEx, p#hashtagEx{
	display: none;
	position: absolute;
}
#enterEx p, #tweetEx p{
	margin: 0;
	display: block;
	opacity: 0;
}
#prizeEx{
	position: absolute;
  top: 151px;
  left: 170px;
  width: 255px;
  font-size: 17px;
  font-family: 'Open Sans';
  opacity: 0;
}

div#waveEx{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index:20000;
}
div#bloodEx{
	position: absolute;
	top: 7px;
	left: 7px;
	z-index:20000;
}
div#waveEx img{
	display: block;
}
div#logoEx{
	position: absolute;
	top: 10px;
  right: 10px;
}
div#herosBgEx{
	top: 50px;
	left: 200px;
}
div#herosBgEx img{
	opacity: 0;
}
p#noPurchEx{
	font-size: 8px;
	position: absolute;
	top: 4px;
    left: 350px;
	color: #fff;
	display: none;
	z-index: 100;
}
img#hashtagEx{
	z-index: 100;
	top: 63px;
	font-size: 18px;
	color: #fff;
	opacity: 0;
	text-align: center;
	left: 183px;
	position: absolute;
}
div#finalFrameEx{
	text-align: center;
	background-color: #17669e;
	color: #fff;
	z-index: 100;
	width: 970px;
	height: 250px;
	display: none;
	position: absolute;
	margin: 0;
	opacity: 0;
}
img#greatnessEx {
    position: absolute;
    top: 70px;
    left: 140px;
}

img#bundlesweepsEx{
	position: absolute;
	right: 10px;
	top: 10px;
}
.finaltxtEx{
	color: #fff;
	opacity: 0;
	display: none;
	margin: 0;
	top: 10px;
}
.finaltxtEx img{
	top: 60px;
	left: 145px;
	position: absolute;
}
#learnMore2Ex{
	position: absolute;
	top: 10px;
	right: 10px;
}
h4.finaltxtEx{
	margin: 15px;
}
h3.finaltxtEx{
	font-size: 25px;
}
h1.finaltxtEx{
	font-size: 35px;
}
.bundleEx img{
	position: absolute;
	bottom:10px !important;
	right:10px !important;
}
#lrnBtnEx2{
	color: #fff;
	opacity: 0;
	display: none;
	position: absolute;
	background: url('../images/btnBg.svg');
	font-size: 12px;
	left: 435px;
	top: 170px;
	border: none;
	cursor: pointer;
}
#greatEx{
	letter-spacing: 2px;
}
#ps4logoEx{
	position: absolute;
	bottom: 10px;
	left: 10px;
	opacity: 0; 
}